body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(33, 6, 41), rgb(94, 3, 117), rgb(32, 6, 37));
}
.header {
  color: rgb(191, 246, 248);
  background-color: rgb(18, 1, 29);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid wheat;
}
.btn,
.dbtn {
  display: inline-block;
  width: 7rem;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
}
.btn {
  background: #333;
  color: #fff;
}

.dbtn {
  background: red;
  color: white;
  padding: 5px 15px;
}
.ebtn {
  display: inline-block;
  width: 7rem;
  padding: 5px 15px;
  border: 0;
  background: green;
  color: white;
  border-radius: 5px;
  margin: 5px 0;
}
.pbtn {
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  border: 0;
  background: green;
  color: white;
  border-radius: 5px;
  margin: 5px 0;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  height: fit-content;
  background-color: rgb(36, 5, 37);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 5px white;
}
.card h3 {
  color: rgb(252, 92, 77);
}
.form {
  padding: 5%;
  box-shadow: 0 0 5px white;
  border-radius: 4px;
  background-color: rgb(58, 10, 59);
}
.form input,
select {
  margin: 7px auto;
  border-radius: 3px;
  padding: 5px;
  border: none;
  outline: none;
}
.form input {
  width: 97%;
  height: 20px;
}
.form select {
  width: 100%;
  height: 30px;
}
.form label {
  color: rgb(240, 178, 172);
}
.card ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: rgb(240, 178, 172);
  border: 1px solid rgb(51, 6, 59);
  background-color: rgb(58, 10, 59);
  box-shadow: 0 0 5px white;
  border-radius: 4px;
}
.liitem {
  list-style: none;
  margin: 5px;
  padding: 8px;
  background-color: rgb(85, 11, 87);
  border-radius: 5px;
}
.leader {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(85, 11, 87);
  border-radius: 5px;
}
.nodisplay {
  display: none;
}
