body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(33, 6, 41), rgb(94, 3, 117), rgb(32, 6, 37));
}
.header {
  color: rgb(191, 246, 248);
  background-color: rgb(18, 1, 29);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid wheat;
}
.mainbody {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  background: url("./../images/compas.png");
  height: 33rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  width: 22rem;
  height: 32rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px black;
  background: linear-gradient(rgb(6, 6, 41), rgb(24, 3, 117), rgb(6, 6, 37));
}

#chk,
#fpp {
  display: none;
}
.signup {
  position: relative;
  height: 100%;
  width: 100%;
}
label {
  color: #fff;
  font-size: 2.3rem;
  justify-content: center;
  display: flex;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 65%;
  height: 40px;
  background: #573b8a;
  color: #fff;
  justify-content: center;
  margin: 5px auto;
  display: block;
  padding: 6px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  transition: 0.3s ease-in;
  cursor: pointer;
}
button:hover {
  background: #7952c2;
}
.login {
  height: 32rem;
  background-color: white;
  border-radius: 50% / 10%;
  transform: translateY(-10.5rem);
  transition: 0.5s ease-in-out;
}
.login label {
  color: #573b8a;
  padding: 30px;
}
#chk:checked ~ .login {
  transform: translateY(-32rem);
}
#chk:checked ~ .login label {
  padding: 15px;
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.forgotform {
  transform: translate(0rem, 0rem);
  transition: 1s;
}
#fpp:checked ~ .forgotform {
  transform: translate(9rem, 9rem);
  transition: 1s;
}
.forgotpass {
  font-size: 1rem;
  margin: 4px;
}
