.maindiv {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100vh;
  background: linear-gradient(rgb(33, 6, 41), rgb(94, 3, 117), rgb(32, 6, 37));
}
.header {
  color: rgb(191, 246, 248);
  background-color: rgb(18, 1, 29);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid wheat;
}
