<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summery</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link href="summery.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <h4>Expense Tracker App</h4>
      <div>
        <a href="expense.html"><button class="btn btn-danger">Home</button> </a>
      </div>
    </div>
    <div class="maindiv">
      <h4>Day to Day expense</h4>
      <h5>2021</h5>
      <p>March 2021</p>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Discription</th>
            <th>Category</th>
            <th>Expense</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>some discription</td>
            <td>Row 1, Cell 2</td>
            <td>Row 1, Cell 3</td>
          </tr>
          <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
            <td>Row 2, Cell 3</td>
          </tr>
          <tr>
            <td>Row 3, Cell 1</td>
            <td>Row 3, Cell 2</td>
            <td>Row 3, Cell 3</td>
          </tr>
        </tbody>
      </table>
      <h5>Yearly Report</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Discription</th>
            <th>Category</th>
            <th>Expense</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>some discription</td>
            <td>Row 1, Cell 2</td>
            <td>Row 1, Cell 3</td>
          </tr>
          <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
            <td>Row 2, Cell 3</td>
          </tr>
          <tr>
            <td>Row 3, Cell 1</td>
            <td>Row 3, Cell 2</td>
            <td>Row 3, Cell 3</td>
          </tr>
        </tbody>
      </table>
      <button onclick="fetchDownload(event)" class="border-primary bg-primary">
        Download
      </button>
    </div>
    <script src="summery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
  </body>
</html>
